 
body{
    background-color: rgb(11, 10, 10);
    text-align: center;
    font-family: 'Libre Baskerville';
   color: rgb(240, 240, 231);
}
 div{
 width: 50%;
 margin-left: 25%;
 margin-top: 50px;

 }
 .ax{
    border: 5px solid white;
    width: 100%;
 }
h1{
    font-size: 3rem;
}
p{
    font-size: 1rem;
}